
.head{
    width:100%;
    height: 68px;
    background: rgb(0, 0, 0);
}

.head_div{
    width: 90%;
    margin: auto;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}
.rogo{
    font-size: 36px;
    color: red;
    font-weight: 600;
}