.head{
    width:100%;
    height: 68px;
    background: rgb(0, 0, 0);
}

.head_div{
    width: 90%;
    margin: auto;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}
.rogo{
    font-size: 36px;
    color: red;
    font-weight: 600;
}

.main{
    width: 55%;
    margin: auto;
    padding-top: 50px;
}

.main_top{
    height: 70px;
}

.main_text{
    align-items: center;
    font-size: 38px;
    font-weight: 100;
    padding-right: 10px;
}

#membership_text{
    font-size: 13px;
    font-weight: 600;
    color: #5f5e5e;
}

.row{
    display: flex;
}
.content_div{
    padding-top: 14px;
    width: 260px;
}

.title1{
    font-size:18px;
    color:  #757575;
}

.title1_btn{
    width: 200px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background:  #f0ecec;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.041), 0 3px 10px rgba(0, 0, 0, 0.082);
    cursor: pointer;
}
.title1_btn:hover{
    background:  #f1efef;
}
.content_all{    
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.192);
    width: 780px;
}

.content_all2{    
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 25px;
    width: 780px;
}

.text_all{
    justify-content: space-between;
    display: flex;
}

.text_all > a{
    color: #4e86ed;
}

#font_weight {
    font-weight: 600;
}

.text_all > a:hover{
    text-decoration: underline;
}

.content3{
    display: flex;
    height: 60px;
    padding-top: 15px;
}
.user_text >p{
    font-size: 13px;
    color:#868585;
}

.user_all > img{
    padding-right: 20px;
}
.user_content1,.user_content2,.user_content3,.user_content4{
    cursor: pointer;
}

#down_btn{
    height: 16px;
    padding-top: 20px;
    padding-left: 580px;
}


.margin{
    height: 80px;
}

footer{
    height: 430px;
    border-top: 1px solid rgba(209, 207, 207, 0.363);
}
.footer_div{
    padding-top:25px;
    width: 90%;
    margin: auto;   
}

.footer_link{
    line-height: 30px;
    display: flex;
}

.link_1{
    padding-top: 30px;
    width: 250px;
    font-size: 14px;
}


.footer_text{
    padding-top: 15px;
    font-size: 12px;
}

#service_code{
    width: 110px;
    height: 40px;
    border-radius: 0%;
    border: 1px solid rgb(49, 49, 49);
    background: none;
    margin-top: 50px;
}

.link_1 > p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer_div>p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.click_div1{
    display: none;
}

.click_div2{
    display: none;
}
.click_div3{
    display: none;
}
.click_div4{
    display: none;
}

.data{    
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
    height: 60px;
    border-bottom: 1px solid rgba(17, 17, 17, 0.192);
    padding-top: 25px;
}

.data_1 >p{
    font-size: 13px;
    padding-top: 3px;
    color: #757575;
}

.data > a{
    color: #4e86ed;
    font-size: 13px;
}

.data > a:hover{
    text-decoration: underline;
}





/*비밀번호 변경 페이지(pawChange.jsp) css*/
.pwcontainer{
    width: 100%;
    background: #f3f3f3;
}

.pw_div{
    margin: auto;
    margin-left: 22%;
    width: 700px;
    height: 550px;

}

.pw_div >form > p{
    padding-top: 45px;
    font-size: 35px;
    padding-bottom: 20px;
}

.hastext{
    width: 510px;
    height: 30px;
    opacity: 1;
    line-height : normal; /* line-height 초기화 */ 
    padding: 10px 10px 0px;
    font-family: inherit; /* 폰트 상속 */ 
    border: 1px solid #999; border-radius: 0; /* iSO 둥근모서리 제거 */ 
    outline-style: none; /* 포커스시 발생하는 효과 제거를 원한다면 */ 
    -webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */ 
    -moz-appearance: none; appearance: none;

}
.textbox1{
    margin-top: 20px;
    margin-bottom: 30px;
}

.placeLabel{
    position: absolute; 
    padding-left: 7px;
    color: #999; cursor: text;
}


.pl1{
    top: 180px; 
    left: 22%; 
    transition: 0.3s;
}

.pl2{
    top: 280px; 
    left: 22%; 
    transition: 0.3s;
}

.pl3{
    top:370px; 
    left: 22%; 
    transition: 0.3s;
}

#pwtext{
    font-size: 13px;
    color:#4e86ed;
    cursor: pointer;
}

#pwtext:hover{
    text-decoration: underline;
}

#pwck{
    display: none;
    position: absolute; 
    top: 315px;
    font-size: 12px;
    color: red;
}

#pwck2{
    display: none;
    position: absolute; 
    top: 405px;
    font-size: 12px;
    color:#5fa53f;
}

.pw_remember{
    padding-bottom: 40px;
}

.pw_checkbox{
    margin-right: 10px;
    padding: 0px;
    width: 25px;
    height: 25px;
}

.pw_btn{
    width: 98px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.226);
    border-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
}

.pw_btn1{
    color: white;
    background-color: #0f84fa; 
}

.pw_btn1:hover{
    background-color: #3193f5;  
}
.pw_btn2:hover{
    background-color:  #dfd9d9ee;   
}

.pw_btn2{
    background-color:  #ccccccee; 
}


/*결제 상세 정보 페이지(payment_details.jsp) css*/

*{
	list-style: none;
	text-decoration:none;
	border-collapse:collapse;
	margin:0px;
	padding: 0px;
	color: rgb(5, 5, 5);
	font-family: 'Noto Sans KR', sans-serif;
}

.head{
    width:100%;
    height: 68px;
    background: rgb(0, 0, 0);
}

.paydecontainer{
    width: 100%;
    background: #f3f3f3;
}

.pay_div{
    margin: auto;
    margin-left: 22%;
    width: 700px;
}

.pay_div > p{
    padding-top: 45px;
    font-size: 35px;
    padding-bottom: 20px;
}
#membership_text1{
    font-size: 14px;
    color: #979494;
    padding-top: 5px;
    padding-bottom: 10px;
}

#membership_text2{
    font-size: 14px;
    color: #979494;
    font-weight: 100;
}

#my_membership{
    font-weight: 600;
}

.membership{
    line-height: 22px;
    width: 1000px;
    height: 130px;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.514);
    padding: 15px 10px;
}

#membership_text3{
    font-size: 12px;
    color: #5c5a5a;
    padding-top: 3px;
}

.pay_table_div{
    margin: auto;
    margin-left: 22%;
    width: 700px;
    padding-bottom: 100px;

}
.pay_table{


}
.table_top > th{
    font-size: 14px;
    color: #858080;
    font-weight: 100;
}